<footer class="text-center text-white bg-dark py-3"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col text-white"> 
    <a href="https://genuine-licorice-99a32a.netlify.app/" target="_blank" class="text-white"> By Lost and Found Creative</a> 
</div> 
<div class="col"> Copyright 2024 Lost and Found Creative </div> 
</div> 

</div> 
</footer>
</body>
</html>