<%- include('partials/header') -%>

<div>       
  <div class="col-12 justify-content-center text-center mt-5 mb-5">
    <a class="btn btn-secondary" href="/profile">Your Profile</a>
    <a class="btn btn-secondary" href="/feed">Return to Feed</a>
    <a class="btn btn-secondary" href="/location">Libraries by Location</a>
    <a href="/logout" class="col-1 btn btn-secondary">Logout</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Library Photo Feed</h2>
    <ul class="row list-unstyled justify-content-center">
      <% for(var i=0; i<libraries.length; i++) {%>
        <div class="col-6 ">
        <li class="row-2 justify-content-center mt-3">
          <a href="/library/<%= libraries[i]._id%>">
            <img class="img-fluid img-thumbnail w-50" src="<%= libraries[i].image%>">
          </a>
        </li>
      </div>
      <% } %>
      </ul>
  </div>
 
<%- include('partials/footer') -%>