<%- include('partials/header') -%>

<section class="m-5">
    <div class="m-5"></div>
    <h2>The Mini Library App</h2>
    <p>Welcome to the Mini Library Project. A free app that is here to help you find your closest free library! If you find a library in your area that is not listed- please join and submit a library today! The list is updated live.</p>
    <p>This database does not include the official all mitty https://littlefreelibrary.org libraries. Those are registered in that database and part of that project. This is the more an unregistered grassroots version. See a library, take a photo, and submit it to us.</p>
    <p>When submiting a library close to you. Please include a location (or closest address) and a photo. If you are the owner and do not want it posted on the site, please contact Lost and Found Creative.</p>
    <p>If you want a posted listing to be modified or removed- please submit a request for change of info via contact information.</p>
    <p>Only user name will be displayed with the submitted library when listed.</p>
    <h3>Join us today!</h3>
    </div>
</section>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-secondary"> Login</a>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>
</main>

<section>thumbnails of libraries here</section>
    

<%- include('partials/footer') -%>